# bazel build products and lock fils
bazel-*
MODULE.bazel.lock

# python intermediary products
**/__pycache__/**

# editor settings
.vscode/

# download cache
.cache/

# workspace
workspace/**

# agents
.gemini/
.claude/

# security
gha-creds-*.json
