[submodule "submodules/ament_cmake_ros"]
	path = submodules/ament_cmake_ros
	url = https://github.com/asymingt/ament_cmake_ros.git
[submodule "submodules/ament_index"]
	path = submodules/ament_index
	url = https://github.com/asymingt/ament_index.git
[submodule "submodules/common_interfaces"]
	path = submodules/common_interfaces
	url = https://github.com/asymingt/common_interfaces.git
[submodule "submodules/geometry2"]
	path = submodules/geometry2
	url = https://github.com/asymingt/geometry2.git
[submodule "submodules/libstatistics_collector"]
	path = submodules/libstatistics_collector
	url = https://github.com/asymingt/libstatistics_collector.git
[submodule "submodules/osrf_testing_tools_cpp"]
	path = submodules/osrf_testing_tools_cpp
	url = https://github.com/asymingt/osrf_testing_tools_cpp.git
[submodule "submodules/performance_test_fixture"]
	path = submodules/performance_test_fixture
	url = https://github.com/asymingt/performance_test_fixture.git
[submodule "submodules/rcl"]
	path = submodules/rcl
	url = https://github.com/asymingt/rcl.git
[submodule "submodules/rcl_interfaces"]
	path = submodules/rcl_interfaces
	url = https://github.com/asymingt/rcl_interfaces.git
[submodule "submodules/rmw_connextdds"]
	path = submodules/rmw_connextdds
	url = https://github.com/asymingt/rmw_connextdds.git
[submodule "submodules/rmw_cyclonedds"]
	path = submodules/rmw_cyclonedds
	url = https://github.com/asymingt/rmw_cyclonedds.git
[submodule "submodules/rmw_dds_common"]
	path = submodules/rmw_dds_common
	url = https://github.com/asymingt/rmw_dds_common.git
[submodule "submodules/rmw_fastrtps"]
	path = submodules/rmw_fastrtps
	url = https://github.com/asymingt/rmw_fastrtps.git
[submodule "submodules/rmw_implementation"]
	path = submodules/rmw_implementation
	url = https://github.com/asymingt/rmw_implementation.git
[submodule "submodules/rmw_zenoh"]
	path = submodules/rmw_zenoh
	url = https://github.com/asymingt/rmw_zenoh.git
[submodule "submodules/ros2_tracing"]
	path = submodules/ros2_tracing
	url = https://github.com/asymingt/ros2_tracing.git
[submodule "submodules/ros2cli"]
	path = submodules/ros2cli
	url = https://github.com/asymingt/ros2cli.git
[submodule "submodules/rosidl"]
	path = submodules/rosidl
	url = https://github.com/asymingt/rosidl.git
[submodule "submodules/rosidl_dynamic_typesupport"]
	path = submodules/rosidl_dynamic_typesupport
	url = https://github.com/asymingt/rosidl_dynamic_typesupport.git
[submodule "submodules/rosidl_python"]
	path = submodules/rosidl_python
	url = https://github.com/asymingt/rosidl_python.git
[submodule "submodules/rosidl_typesupport"]
	path = submodules/rosidl_typesupport
	url = https://github.com/asymingt/rosidl_typesupport.git
[submodule "submodules/rosidl_typesupport_fastrtps"]
	path = submodules/rosidl_typesupport_fastrtps
	url = https://github.com/asymingt/rosidl_typesupport_fastrtps.git
[submodule "submodules/rosidl_typesupport_protobuf"]
	path = submodules/rosidl_typesupport_protobuf
	url = https://github.com/asymingt/rosidl_typesupport_protobuf.git
[submodule "submodules/rpyutils"]
	path = submodules/rpyutils
	url = https://github.com/asymingt/rpyutils.git
[submodule "submodules/test_interface_files"]
	path = submodules/test_interface_files
	url = https://github.com/asymingt/test_interface_files.git
[submodule "submodules/unique_identifier_msgs"]
	path = submodules/unique_identifier_msgs
	url = https://github.com/asymingt/unique_identifier_msgs.git
[submodule "submodules/rcl_logging"]
	path = submodules/rcl_logging
	url = https://github.com/asymingt/rcl_logging.git
[submodule "submodules/rclcpp"]
	path = submodules/rclcpp
	url = https://github.com/asymingt/rclcpp.git
[submodule "submodules/rcpputils"]
	path = submodules/rcpputils
	url = https://github.com/asymingt/rcpputils.git
[submodule "submodules/rcutils"]
	path = submodules/rcutils
	url = https://github.com/asymingt/rcutils.git
[submodule "submodules/rmw"]
	path = submodules/rmw
	url = https://github.com/asymingt/rmw.git
[submodule "submodules/rosidl_runtime_py"]
	path = submodules/rosidl_runtime_py
	url = https://github.com/asymingt/rosidl_runtime_py.git
[submodule "submodules/rosidl_dynamic_typesupport_fastrtps"]
	path = submodules/rosidl_dynamic_typesupport_fastrtps
	url = https://github.com/asymingt/rosidl_dynamic_typesupport_fastrtps.git
[submodule "submodules/ament_package"]
	path = submodules/ament_package
	url = https://github.com/asymingt/ament_package.git
[submodule "submodules/ament_cmake"]
	path = submodules/ament_cmake
	url = https://github.com/asymingt/ament_cmake.git
[submodule "submodules/ament_lint"]
	path = submodules/ament_lint
	url = https://github.com/asymingt/ament_lint.git
[submodule "submodules/class_loader"]
	path = submodules/class_loader
	url = https://github.com/asymingt/class_loader.git
[submodule "submodules/console_bridge_vendor"]
	path = submodules/console_bridge_vendor
	url = https://github.com/asymingt/console_bridge_vendor.git
[submodule "submodules/iceoryx"]
	path = thirdparty/iceoryx
	url = https://github.com/asymingt/iceoryx.git
[submodule "submodules/launch"]
	path = submodules/launch
	url = https://github.com/asymingt/launch.git
[submodule "submodules/launch_ros"]
	path = submodules/launch_ros
	url = https://github.com/asymingt/launch_ros.git
[submodule "submodules/osrf_pycommon"]
	path = submodules/osrf_pycommon
	url = https://github.com/asymingt/osrf_pycommon.git
[submodule "submodules/pluginlib"]
	path = submodules/pluginlib
	url = https://github.com/asymingt/pluginlib.git
[submodule "submodules/ros2cli_common_extensions"]
	path = submodules/ros2cli_common_extensions
	url = https://github.com/asymingt/ros2cli_common_extensions.git
[submodule "submodules/ros_environment"]
	path = submodules/ros_environment
	url = https://github.com/asymingt/ros_environment.git
[submodule "submodules/variants"]
	path = submodules/variants
	url = https://github.com/asymingt/variants.git
[submodule "submodules/sros2"]
	path = submodules/sros2
	url = https://github.com/asymingt/sros2.git
[submodule "submodules/ros_testing"]
	path = submodules/ros_testing
	url = https://github.com/asymingt/ros_testing.git
[submodule "submodules/rosidl_core"]
	path = submodules/rosidl_core
	url = https://github.com/asymingt/rosidl_core.git
[submodule "submodules/rosidl_defaults"]
	path = submodules/rosidl_defaults
	url = https://github.com/asymingt/rosidl_defaults.git
[submodule "thirdparty/cyclonedds"]
	path = thirdparty/cyclonedds
	url = https://github.com/asymingt/cyclonedds.git
[submodule "thirdparty/lttng-ust"]
	path = thirdparty/lttng-ust
	url = https://github.com/asymingt/lttng-ust.git
[submodule "thirdparty/mimick"]
	path = thirdparty/mimick
	url = https://github.com/asymingt/mimick.git
[submodule "thirdparty/zenoh-cpp"]
	path = thirdparty/zenoh-cpp
	url = https://github.com/asymingt/zenoh-cpp.git
[submodule "thirdparty/zenoh-c"]
	path = thirdparty/zenoh-c
	url = https://github.com/asymingt/zenoh-c.git
[submodule "submodules/rosdistro"]
	path = submodules/rosdistro
	url = https://github.com/asymingt/rosdistro.git
[submodule "thirdparty/fastdds"]
	path = thirdparty/fastdds
	url = https://github.com/asymingt/fastdds.git
[submodule "thirdparty/fastcdr"]
	path = thirdparty/fastcdr
	url = https://github.com/asymingt/fastcdr.git
