babeltrace==1.5.11
cbor2==5.6.2
construct==2.10.68
dbus-python==1.3.2
empy==3.3.4
fastapi==0.101.0
fiona==1.9.5
flake8-blind-except==0.2.1
flake8-builtins==2.1.0
flake8-class-newline==1.6.0
flake8-comprehensions==3.14.0
flake8-deprecated==2.2.1
flake8-import-order==0.18.2
flake8-quotes==3.4.0
flask==3.0.2
flask-socketio==5.3.6
httpx==0.26.0
i2c-tools==4.3
img2pdf==0.5.1
jinja2==3.1.2
junitparser==3.1.0
lxml==5.2.1
matplotlib==3.6.3
mypy==1.9.0
natsort==8.0.2
ntplib==0.3.3
numpy==1.26.4
opencv==4.6.0
orocos-kdl==1.5.1
pandas==2.1.4
pillow==10.2.0
platformdirs==4.2.0
ply==3.11
protobuf==3.21.12
pycairo==1.25.1
pycodestyle==2.11.1
pycollada==0.7.2
pydantic==1.10.14
pydot==1.4.2
pymongo==3.11.0
pyqt5==5.15.10
pyqt5webengine==5.15.6
pyserial==3.5
pyside2==5.15.13
pytest==7.4.4
pytest-mock==3.12.0
python-argcomplete==3.1.4
python-attrs==23.2.0
python-autobahn==22.7.1
python-boto3==1.34.46
python-click==8.1.6
python-coverage==7.4.4
python-cryptography==41.0.7
python-deprecated==1.2.14
python-distro==1.9.0
python-expiringdict==1.1.4
python-filelock==3.13.1
python-flake8==7.0.0
python-future==0.18.2
python-git==3.1.37
python-importlib-metadata==4.12.0
python-jsonschema==4.10.3
python-lark==1.1.9
python-mock==5.1.0
python-msgpack==1.0.3
python-msgpack-numpy==0.4.8
python-openai==1.12.0
python-packaging==24.0
python-paho-mqtt==1.6.1
python-pip==24.0
python-psutil==5.9.8
python-pygraphviz==1.7
python-pyproj==3.6.1
python-pytest-cov==4.1.0
python-pytest-timeout==2.2.0
python-rtree==1.2.0
python-semver==2.10.2
python-setproctitle==1.3.3
python-shapely==2.0.3
python-tabulate==0.8.10
python-termcolor==1.1.0
python-toml==0.10.2
python-tornado==6.4.0
python-typeguard==4.1.5
python-typing-extensions==4.10.0
python-unidiff==0.7.3
python-uvicorn==0.27.1
python-websockets==10.4
python3-defaults==3.12.3
python3-stdlib-extensions==3.12.3
pyyaml==6.0.1
requests==2.31.0
rich==13.7.1
ros-catkin-pkg==1.0.0
ros-osrf-pycommon==2.1.4
ros-rospkg==1.5.0
scipy==1.11.4
setuptools==68.1.2
sip4==4.19.25
smbus2==0.4.3
sphinx==7.2.6
tqdm==4.66.2
twisted==24.3.0
typeshed==0.0
ujson==5.9.0
uvloop==0.19.0
validators==0.20.0
waitress==2.1.2
websocket-client==1.7.0
wheel==0.42.0
whichcraft==0.4.1
